<h2>Login</h2>

{{#if error }}
    <p>ERROR: {{ message.error }}</p>
{{/if}}

<form method="POST" enctype="application/x-www-form-urlencoded" action="/user/login">
    <input name="username" type="text">
    <input name="password" type="password">

    <button type="submit">Login</button>
</form>
