<h2>Products</h2>

<a class="btn btn-warning" href="/product/{{ data.product.id }}/edit">Edit Product</a>

<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <strong>name:</strong> {{ data.product.name }}
        </div>

        <div>
            <strong>description:</strong> {{ data.product.description }}
        </div>
    </div>
</div>
